<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="857680e8b2cb4f5b917320a8cf94a18e" class="chart-container" style="width:90%; height:800%;"></div>
    <script>
        var chart_857680e8b2cb4f5b917320a8cf94a18e = echarts.init(
            document.getElementById('857680e8b2cb4f5b917320a8cf94a18e'), 'white', {renderer: 'canvas'});
        var option_857680e8b2cb4f5b917320a8cf94a18e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u57ce\u5e02",
            "legendHoverLink": true,
            "data": [
                {
                    "name": "\u5e7f\u5dde",
                    "value": 58,
                    "itemStyle": {
                        "color": "#DF927C"
                    }
                },
                {
                    "name": "\u5317\u4eac",
                    "value": 38,
                    "itemStyle": {
                        "color": "#A3C272"
                    }
                },
                {
                    "name": "\u957f\u6c99",
                    "value": 17,
                    "itemStyle": {
                        "color": "#FED863"
                    }
                },
                {
                    "name": "\u6210\u90fd",
                    "value": 14,
                    "itemStyle": {
                        "color": "#EE82EE"
                    }
                },
                {
                    "name": "\u6df1\u5733",
                    "value": 13,
                    "itemStyle": {
                        "color": "#FF86C1"
                    }
                },
                {
                    "name": "\u4e0a\u6d77",
                    "value": 12,
                    "itemStyle": {
                        "color": "#C2E67F"
                    }
                },
                {
                    "name": "\u676d\u5dde",
                    "value": 11,
                    "itemStyle": {
                        "color": "#F3E69F"
                    }
                },
                {
                    "name": "\u53a6\u95e8",
                    "value": 10,
                    "itemStyle": {
                        "color": "#0000FF"
                    }
                },
                {
                    "name": "\u6b66\u6c49",
                    "value": 10,
                    "itemStyle": {
                        "color": "#FFF000"
                    }
                }
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u57ce\u5e02"
            ],
            "selected": {
                "\u57ce\u5e02": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5e7f\u5dde",
                "\u5317\u4eac",
                "\u957f\u6c99",
                "\u6210\u90fd",
                "\u6df1\u5733",
                "\u4e0a\u6d77",
                "\u676d\u5dde",
                "\u53a6\u95e8",
                "\u6b66\u6c49"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u4e2a\u57ce\u5e02\u4e2d\u5927\u4e13\u5b66\u5386\u6ee1\u8db3\u8be5\u4e13\u4e1a\u5e73\u5747\u85aa\u8d44\u7684\u5c97\u4f4d\u6570\u91cf",
            "right": "center",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "color": "red",
                "fontSize": 30
            }
        }
    ]
};
        chart_857680e8b2cb4f5b917320a8cf94a18e.setOption(option_857680e8b2cb4f5b917320a8cf94a18e);
            window.addEventListener('resize', function(){
                chart_857680e8b2cb4f5b917320a8cf94a18e.resize();
            })
    </script>
</body>
</html>
