<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="fca001fc3ab94ebe94d3ebcc408070ee" class="chart-container" style="width:90%; height:900px;"></div>
    <script>
        var chart_fca001fc3ab94ebe94d3ebcc408070ee = echarts.init(
            document.getElementById('fca001fc3ab94ebe94d3ebcc408070ee'), 'white', {renderer: 'canvas'});
        var option_fca001fc3ab94ebe94d3ebcc408070ee = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u57ce\u5e02",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                16.2,
                14.5,
                14.1,
                13.8,
                13.6,
                9.4,
                9.0,
                8.5,
                8.1
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            }
        },
        {
            "type": "line",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 10,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u5e7f\u5dde",
                    58
                ],
                [
                    "\u5317\u4eac",
                    38
                ],
                [
                    "\u957f\u6c99",
                    17
                ],
                [
                    "\u6210\u90fd",
                    14
                ],
                [
                    "\u6df1\u5733",
                    13
                ],
                [
                    "\u4e0a\u6d77",
                    12
                ],
                [
                    "\u676d\u5dde",
                    11
                ],
                [
                    "\u53a6\u95e8",
                    10
                ],
                [
                    "\u6b66\u6c49",
                    10
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "lineStyle": {
                "show": true,
                "width": 5,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "itemStyle": {
                "color": {
                    "x": 0,
                    "y": 1,
                    "x2": 1,
                    "y2": 0,
                    "colorStops": [
                        {
                            "offset": 0,
                            "color": "pink"
                        },
                        {
                            "offset": 0.5,
                            "color": "red"
                        },
                        {
                            "offset": 1,
                            "color": "blue"
                        }
                    ]
                }
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u57ce\u5e02"
            ],
            "selected": {
                "\u57ce\u5e02": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 30,
                "margin": 8,
                "interval": 0,
                "fontSize": 20
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5e7f\u5dde",
                "\u5317\u4eac",
                "\u957f\u6c99",
                "\u6210\u90fd",
                "\u6df1\u5733",
                "\u4e0a\u6d77",
                "\u676d\u5dde",
                "\u53a6\u95e8",
                "\u6b66\u6c49"
            ]
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 16
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5e7f\u5dde",
                "\u5317\u4eac",
                "\u957f\u6c99",
                "\u6210\u90fd",
                "\u6df1\u5733",
                "\u4e0a\u6d77",
                "\u676d\u5dde",
                "\u53a6\u95e8",
                "\u6b66\u6c49"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5927\u4e13\u5b66\u5386\u5728\u5404\u5730\u533a\u7684\u5e73\u5747\u6700\u4f4e\u85aa\u8d44",
            "right": "center",
            "bottom": "50%",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 30
            }
        },
        {
            "text": "\u5404\u4e2a\u57ce\u5e02\u4e2d\u5927\u4e13\u5b66\u5386\u6ee1\u8db3\u8be5\u4e13\u4e1a\u5e73\u5747\u85aa\u8d44\u7684\u5c97\u4f4d\u6570\u91cf",
            "left": "center",
            "right": "center",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 30
            }
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "top": "45%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        },
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "bottom": "60%",
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ]
};
        chart_fca001fc3ab94ebe94d3ebcc408070ee.setOption(option_fca001fc3ab94ebe94d3ebcc408070ee);
            window.addEventListener('resize', function(){
                chart_fca001fc3ab94ebe94d3ebcc408070ee.resize();
            })
    </script>
</body>
</html>
