<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3f91cd2b6064429595cc6b4834ee3bbe" class="chart-container" style="width:90%; height:900px;"></div>
    <script>
        var chart_3f91cd2b6064429595cc6b4834ee3bbe = echarts.init(
            document.getElementById('3f91cd2b6064429595cc6b4834ee3bbe'), 'white', {renderer: 'canvas'});
        var option_3f91cd2b6064429595cc6b4834ee3bbe = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u7ecf\u9a8c\u4e0d\u8db3\u5c97\u4f4d\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                59,
                36,
                26,
                25,
                24,
                13,
                6,
                5,
                3
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u5c97\u4f4d\u603b\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                382,
                300,
                420,
                270,
                300,
                349,
                299,
                300,
                300
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7ecf\u9a8c\u4e0d\u8db3\u5c97\u4f4d\u6570\u91cf",
                "\u5c97\u4f4d\u603b\u6570\u91cf"
            ],
            "selected": {
                "\u7ecf\u9a8c\u4e0d\u8db3\u5c97\u4f4d\u6570\u91cf": true,
                "\u5c97\u4f4d\u603b\u6570\u91cf": true
            },
            "show": true,
            "right": "right",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "fontSize": 30
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u53a6\u95e8\n",
                "\u957f\u6c99\n",
                "\u5e7f\u5dde\n",
                "\u5317\u4eac\n",
                "\u6210\u90fd\n",
                "\u6b66\u6c49\n",
                "\u6df1\u5733\n",
                "\u676d\u5dde\n",
                "\u4e0a\u6d77"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 20
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u9002\u5408\u5de5\u4f5c\u7ecf\u9a8c\u4e0d\u8db3\u7684\u65b0\u4eba\u7684\u57ce\u5e02\u63a8\u8350",
            "right": "center",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 30
            }
        }
    ]
};
        chart_3f91cd2b6064429595cc6b4834ee3bbe.setOption(option_3f91cd2b6064429595cc6b4834ee3bbe);
            window.addEventListener('resize', function(){
                chart_3f91cd2b6064429595cc6b4834ee3bbe.resize();
            })
    </script>
</body>
</html>
