<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="title">
        <h1>你好欢迎来到可视化图形管理系统</h1>
    </div>
    <div class="main">
        <ul class="list-group">
            <div>
            <li class="list-group-item">
                <a href="/todo1/">各城市大专学历满足岗位需求的岗位数量</a>
            </li>
            <li class="list-group-item">
                <a href="/todo2/">全国大数据行业中对学历的要求比例</a>
            </li>
            <li class="list-group-item">
                <a href="/todo3/">各个城市中大专学历满足该专业平均薪资的岗位数量</a>
            </li>
            <li class="list-group-item">
                <a href="/todo4/">大数据专业使用最广泛的技术排名top20</a>
            </li>
            <li class="list-group-item">
                <a href="/todo5/">大专学历在各地区的平均最低薪资</a>
            </li>
            <li class="list-group-item">
                <a href="/todo6/">适合工作经验不足的新人的城市推荐</a>
            </li>
            </div>
        </ul>
    </div>
</div>
</body>
</html>