<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>全国大数据行业中对学历的要求比例</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>
<div>
    <li>
        <a href="/index/">返回首页</a>
    </li>
</div>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="0b78ed81596b4e17a54135ae49afa4a3" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_0b78ed81596b4e17a54135ae49afa4a3 = echarts.init(
            document.getElementById('0b78ed81596b4e17a54135ae49afa4a3'), 'white', {renderer: 'canvas'});
        var option_0b78ed81596b4e17a54135ae49afa4a3 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u5404\u5b66\u5386\u5728\u5404\u4e2a\u57ce\u5e02\u5927\u6570\u636e\u884c\u4e1a\u4e2d\u6240\u5360\u7684\u6bd4\u4f8b",
            "clockwise": true,
            "data": [
                {
                    "name": "\u672c\u79d1",
                    "value": 38651
                },
                {
                    "name": "\u5927\u4e13",
                    "value": 8375
                },
                {
                    "name": "\u5b66\u5386\u4e0d\u9650",
                    "value": 2060
                },
                {
                    "name": "\u7855\u58eb",
                    "value": 1647
                },
                {
                    "name": "\u535a\u58eb",
                    "value": 458
                },
                {
                    "name": "\u4e2d\u4e13/\u4e2d\u6280",
                    "value": 245
                },
                {
                    "name": "\u9ad8\u4e2d",
                    "value": 218
                },
                {
                    "name": "\u521d\u4e2d\u53ca\u4ee5\u4e0b",
                    "value": 27
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "28%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {d}%"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u672c\u79d1",
                "\u5927\u4e13",
                "\u5b66\u5386\u4e0d\u9650",
                "\u7855\u58eb",
                "\u535a\u58eb",
                "\u4e2d\u4e13/\u4e2d\u6280",
                "\u9ad8\u4e2d",
                "\u521d\u4e2d\u53ca\u4ee5\u4e0b"
            ],
            "selected": {},
            "show": false,
            "bottom": "bottom",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u5168\u56fd\u5927\u6570\u636e\u884c\u4e1a\u4e2d\u5bf9\u5b66\u5386\u7684\u8981\u6c42\u6bd4\u4f8b\u6247\u5f62\u56fe",
            "left": "center",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 30
            }
        }
    ]
};
        chart_0b78ed81596b4e17a54135ae49afa4a3.setOption(option_0b78ed81596b4e17a54135ae49afa4a3);
    </script>
<br/>                <div id="6973236b260348aa917559f2b0f70dce" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_6973236b260348aa917559f2b0f70dce = echarts.init(
            document.getElementById('6973236b260348aa917559f2b0f70dce'), 'white', {renderer: 'canvas'});
        var option_6973236b260348aa917559f2b0f70dce = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5b66\u5386",
            "legendHoverLink": true,
            "data": [
                38651,
                8375,
                2060,
                1647,
                458,
                245,
                218,
                27
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u5b66\u5386"
            ],
            "selected": {
                "\u5b66\u5386": true
            },
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 30,
                "margin": 8,
                "interval": 0
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u672c\u79d1",
                "\u5927\u4e13",
                "\u5b66\u5386\u4e0d\u9650",
                "\u7855\u58eb",
                "\u535a\u58eb",
                "\u4e2d\u4e13/\u4e2d\u6280",
                "\u9ad8\u4e2d",
                "\u521d\u4e2d\u53ca\u4ee5\u4e0b"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5168\u56fd\u5927\u6570\u636e\u884c\u4e1a\u4e2d\u5bf9\u5b66\u5386\u7684\u8981\u6c42\u6bd4\u4f8b\u67f1\u5f62\u56fe",
            "right": "center",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 30
            }
        }
    ]
};
        chart_6973236b260348aa917559f2b0f70dce.setOption(option_6973236b260348aa917559f2b0f70dce);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
